[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*" 
black = "==21.5b2"
invoke = "*" 
flake8 = "*"
pytest = "*"

[packages]
pyyaml = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
lightgbm = "*"
